body {
    margin: 0;
    background-color:#0459E0;
}

h1{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Major Mono Display', monospace;
    color: #12DAFF;
}
h3{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;

    font-family: 'Major Mono Display', monospace;
    color: #12DAFF;
}